Repository matyasrichter/osm-indoor-router: changes, and which GitLab CI jobs are due for each by the changed paths.
All: csharpier, build_api, build_push_api, build_updater, build_push_updater, build_front, build_push_front, test, push_dind, push_dotnet, push_dotnet_dockercli, push_postgis, push_ryuk, push_node, push_osm2pgsql

csharpier:
  image: $CI_REGISTRY_IMAGE/dotnet
  variables:
    OBJECTS_DIRECTORY: obj
    NUGET_PACKAGES_DIRECTORY: .nuget
  needs:
  - job: push_dotnet
    optional: true
  cache:
    key: $CI_JOB_STAGE-$CI_COMMIT_REF_SLUG
    paths:
    - $OBJECTS_DIRECTORY/project.assets.json
    - $OBJECTS_DIRECTORY/*.csproj.nuget.*
  ...

build_api:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: build
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  needs: []
  variables:
    PUSHED_IMAGE_NAME: indoorrouter_be_api
    DOCKERFILE: src/API/Dockerfile

build_push_api:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: docker
  variables:
    CONTEXT: .
    PUSHED_IMAGE_NAME: indoorrouter_be_api
    DOCKERFILE: src/API/Dockerfile
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  ...

build_updater:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: build
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  needs: []
  variables:
    PUSHED_IMAGE_NAME: indoorrouter_be_updater
    DOCKERFILE: src/GraphUpdater/Dockerfile

build_push_updater:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: docker
  variables:
    CONTEXT: .
    PUSHED_IMAGE_NAME: indoorrouter_be_updater
    DOCKERFILE: src/GraphUpdater/Dockerfile
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  ...

build_front:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: build
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  needs:
  - job: push_node
    optional: true
  variables:
    PUSHED_IMAGE_NAME: indoorrouter_fe
    DOCKERFILE: frontend/Dockerfile
  ...

build_push_front:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: docker
  variables:
    CONTEXT: frontend
    PUSHED_IMAGE_NAME: indoorrouter_fe
    DOCKERFILE: frontend/Dockerfile
    EXTRA_ARGS: --build-arg BASE_IMAGE=$CI_REGISTRY_IMAGE/node
  script:
  ...

test:
  image: $CI_REGISTRY_IMAGE/dotnet-dockercli
  variables:
    OBJECTS_DIRECTORY: obj
    NUGET_PACKAGES_DIRECTORY: .nuget
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
    FF_NETWORK_PER_BUILD: 'true'
    TEST_DB_IMAGE_NAME: $CI_REGISTRY_IMAGE/postgis
  ...

push_dind:
  image: $CI_REGISTRY/ict/images/buildah:v1
  stage: prereq
  variables:
    CONTEXT: .
    PUSHED_IMAGE_NAME: docker-dind
    DOCKERFILE: dockerfiles/dind.Dockerfile
  script:
  - buildah build -t $CI_REGISTRY_IMAGE/$PUSHED_IMAGE_NAME:latest $EXTRA_ARGS -f $DOCKERFILE $CONTEXT
  ...

Add a test for MapProcessor
  src/GraphBuilding/Configure.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/MapProcessor.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/MapProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix resulting path sometimes not ordered
  src/Persistence/Repositories/PgRoutingRepository.cs
  tests/Persistence.Tests/PgRoutingRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Rename UnwalledAreaProcessor to AreaProcessor
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add wall cutting
  appsettings.Development.json
  src/GraphBuilding/Configure.cs
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/ElementProcessors/BaseOsmProcessor.cs
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/ProcessingResult.cs
  src/GraphBuilding/ElementProcessors/WallProcessor.cs
  src/GraphBuilding/GeometryExtensions.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/GraphHolder.cs
  src/GraphBuilding/InMemoryEdge.cs
  src/GraphBuilding/WallGraphCutter.cs
  tests/API.Tests/Controllers/RoutingControllerTests.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/GraphHolderTests.cs
  tests/GraphBuilding.Tests/MapProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
  tests/GraphBuilding.Tests/WallGraphCutterTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Refactor graph updating to fetch elements once in bulk
  src/GraphBuilding/CachingOsmPortWrapper.cs
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/ElementProcessors/BaseOsmProcessor.cs
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/WallProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/Ports/IOsmPort.cs
  tests/GraphBuilding.Tests/CachingOsmPortWrapperTests.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/ElevatorNodeProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Make element processing parallel
  IndoorRouter.sln.DotSettings
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix a tests dependent on execution order
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
Due: csharpier, test

Fix WallGraphCutter creating invalid edges
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/MapProcessor.cs
  src/GraphBuilding/Ports/IGraphSavingPort.cs
  src/GraphBuilding/WallGraphCutter.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  src/Routing/RoutingService.cs
  tests/GraphBuilding.Tests/MapProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/WallGraphCutterTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Process level connections inside areas and entrances
  src/GraphBuilding/ElementProcessors/EntranceNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/PlainNodeProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  tests/GraphBuilding.Tests/Processors/EntranceNodeProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/PlainNodeProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix polygon node duplication
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix wall detection for some areas
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/Ports/IOsmPort.cs
  src/GraphBuilding/WallGraphCutter.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Stop edges going through outer building walls from being created
  src/GraphBuilding/ElementProcessors/WallProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add SourceType
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/EntranceNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/PlainNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/WallProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/GraphHolder.cs
  src/GraphBuilding/InMemoryEdge.cs
  src/GraphBuilding/InMemoryGraphComponents.cs
  src/GraphBuilding/InMemoryNode.cs
  src/GraphBuilding/WallGraphCutter.cs
  src/Persistence/Entities/Processed/RoutingEdge.cs
  src/Persistence/Entities/Processed/RoutingNode.cs
  src/Persistence/Migrations/20230506114043_SourceType.Designer.cs
  src/Persistence/Migrations/20230506114043_SourceType.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  src/Persistence/RoutingDbContext.cs
  tests/API.Tests/Controllers/RoutingControllerTests.cs
  tests/API.Tests/Controllers/SearchControllerTests.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/GraphHolderAssertions.cs
  tests/GraphBuilding.Tests/GraphHolderTests.cs
  tests/GraphBuilding.Tests/MapProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/ElevatorNodeProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/EntranceNodeProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/PlainNodeProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/ProcessingResultAssertions.cs
  tests/GraphBuilding.Tests/WallGraphCutterTests.cs
  tests/Persistence.Tests/PgRoutingRepositoryTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Prevent edges from being created outside of their original polygon
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/WallGraphCutter.cs
  tests/GraphBuilding.Tests/WallGraphCutterTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Extend list of nodes that are included in the ProcessNodes step
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add public_transport=platform to routable areas
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Update the Haversine formula calculation
  src/GraphBuilding/GeometryExtensions.cs
  tests/GraphBuilding.Tests/GeometryExtensionsTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Support full-height_turnstile wall opening
  src/GraphBuilding/WallGraphCutter.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Bump all dotnet dependencies to latest
  src/API/API.csproj
  src/Persistence/Persistence.csproj
  tests/API.Tests/API.Tests.csproj
  tests/Persistence.Tests/Persistence.Tests.csproj
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add IsXXX properties to RoutingEdge and InMemoryEdge
  src/GraphBuilding/InMemoryGraphComponents.cs
  src/Persistence/Entities/Processed/RoutingEdge.cs
  src/Persistence/Migrations/20230508194801_RoutingEdgeIsElevatorStairsEscalator.Designer.cs
  src/Persistence/Migrations/20230508194801_RoutingEdgeIsElevatorStairsEscalator.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add edge exclusion support to pgRouting call
  src/API/Controllers/RoutingController.cs
  src/Persistence/Repositories/PgRoutingRepository.cs
  src/Routing/Ports/IRoutingPort.cs
  src/Routing/RoutingService.cs
  tests/Persistence.Tests/PgRoutingRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add RoutingEdge flag handling to GraphBuilder
  src/GraphBuilding/GraphBuilder.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add GraphFlags query
  src/API/Controllers/ConfigController.cs
  src/API/Responses/RoutingConfig.cs
  src/Persistence/Configure.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  src/Persistence/RoutingDbContext.cs
  src/Routing/Ports/IGraphInformationProvider.cs
  src/Routing/Ports/IGraphVersionProvider.cs
  tests/API.Tests/Controllers/ConfigControllerTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add route options checkboxes
  frontend/package.json
  frontend/src/app.html
  frontend/src/routes/+page.svelte
  frontend/src/routes/RoutingPickerControl.svelte
  frontend/src/routing-api-client/apis/RoutingApi.ts
  frontend/src/routing-api-client/models/RoutingConfig.ts
  frontend/static/css/maplibre-overrides.css
  frontend/yarn.lock
Due: build_front, build_push_front

Center the search button on desktop
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Add area level connections
  src/GraphBuilding/ElementProcessors/AreaProcessor.cs
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/EntranceNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/LevelConnectingAreaProcessor.cs
  src/GraphBuilding/ElementProcessors/PlainNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/ProcessorUtils.cs
  src/GraphBuilding/ElementProcessors/WallProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  tests/GraphBuilding.Tests/Processors/LevelConnectingAreaProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Make the generic error page look better
  frontend/src/routes/+error.svelte
Due: build_front, build_push_front

Add toast notification on request errors
  frontend/package.json
  frontend/src/routes/+layout.svelte
  frontend/src/routes/RoutingPickerControl.svelte
  frontend/yarn.lock
Due: build_front, build_push_front

Add pruning of small connected components
  src/GraphBuilding/MapProcessor.cs
  src/GraphBuilding/Ports/IGraphSavingPort.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  tests/GraphBuilding.Tests/MapProcessorTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Support room=stairs, room=elevator and multipolygons
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Compare component size to the number of nodes
  src/Persistence/Repositories/RoutingGraphRepository.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Include guard rails in barrier types
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix "Find route" button not looking disabled when disabled
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Merge single-node segments on FE
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Make routing control more mobile friendly
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Use unicode arrow for from/to floors
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Handle room=stairs and room=elevator
  src/GraphBuilding/GraphBuilder.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Use Mock.Of in LevelParserTests
  tests/GraphBuilding.Tests/Parsers/LevelParserTests.cs
Due: csharpier, test

Remove HTTPS redirect
  src/API/Program.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add a guide for local setup
  .env.db.example
  .env.import.example
  .gitignore
  README.md
  appsettings.example.json
  docker-compose.local.yml
  frontend/.env.example
Due: build_front, build_push_front

Path conditions:
  csharpier: any of: src/**/*, tests/**/*, .gitlab-ci.yml, .editorconfig
  build_api: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_push_api: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_updater: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_push_updater: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_front: any of: frontend/**/*, .gitlab-ci.yml
  build_push_front: any of: frontend/**/*, .gitlab-ci.yml
  test: any of: src/**/*, tests/**/*, .gitlab-ci.yml, .editorconfig
  push_dind: any of: dockerfiles/dind.Dockerfile
  push_dotnet: any of: dockerfiles/dotnet.Dockerfile
  push_dotnet_dockercli: any of: dockerfiles/dotnet-dockercli.Dockerfile
  push_postgis: any of: dockerfiles/postgis.Dockerfile
  push_ryuk: any of: dockerfiles/ryuk.Dockerfile
  push_node: any of: dockerfiles/node.Dockerfile
  push_osm2pgsql: any of: dockerfiles/osm2pgsql.Dockerfile
