Repository matyasrichter/osm-indoor-router: changes, and which GitLab CI jobs are due for each by the changed paths.
All: csharpier, build_api, build_push_api, build_updater, build_push_updater, build_front, build_push_front, test, push_dind, push_dotnet, push_dotnet_dockercli, push_postgis, push_ryuk, push_node, push_osm2pgsql

Path conditions:
  csharpier: any of: src/**/*, tests/**/*, .gitlab-ci.yml, .editorconfig
  build_api: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_push_api: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_updater: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_push_updater: any of: src/**/*, Dockerfile, .gitlab-ci.yml
  build_front: any of: frontend/**/*, .gitlab-ci.yml
  build_push_front: any of: frontend/**/*, .gitlab-ci.yml
  test: any of: src/**/*, tests/**/*, .gitlab-ci.yml, .editorconfig
  push_dind: any of: dockerfiles/dind.Dockerfile
  push_dotnet: any of: dockerfiles/dotnet.Dockerfile
  push_dotnet_dockercli: any of: dockerfiles/dotnet-dockercli.Dockerfile
  push_postgis: any of: dockerfiles/postgis.Dockerfile
  push_ryuk: any of: dockerfiles/ryuk.Dockerfile
  push_node: any of: dockerfiles/node.Dockerfile
  push_osm2pgsql: any of: dockerfiles/osm2pgsql.Dockerfile

Add level connection support
  src/GraphBuilding/LineProcessors/GenericHighwayProcessor.cs
  src/GraphBuilding/LineProcessors/ILineProcessor.cs
  tests/GraphBuilding.Tests/LineProcessors/GenericHighwayProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix FE closest-node query when switching levels
  frontend/src/routes/+page.svelte
Due: build_front, build_push_front

Fix level connection processing
  .editorconfig
  src/GraphBuilding/LineProcessors/GenericHighwayProcessor.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Use different line colour for route section on different levels
  frontend/src/routes/+page.svelte
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Update dev docker-compose: planet osm minute diffs
  docker-compose.yml
Due: none

Add vertical distance to level connections
  src/GraphBuilding/LineProcessors/GenericHighwayProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add an initial area routing implementation
  import/config.lua
  src/GraphBuilding/GeometryExtensions.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/LineProcessors/BaseLineProcessor.cs
  src/GraphBuilding/LineProcessors/BaseOsmProcessor.cs
  src/GraphBuilding/LineProcessors/GenericHighwayProcessor.cs
  src/GraphBuilding/LineProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/LineProcessors/IOsmElementProcessor.cs
  src/GraphBuilding/LineProcessors/UnwalledAreaProcessor.cs
  src/GraphBuilding/Ports/IOsmPort.cs
  src/Persistence/Entities/Raw/OsmPolygons.cs
  src/Persistence/Repositories/OsmRepository.cs
  tests/API.Tests/Controllers/RoutingControllerTests.cs
  tests/GraphBuilding.Tests/CachingOsmPortWrapperTests.cs
  tests/GraphBuilding.Tests/GeometryExtensionsTests.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
  tests/Persistence.Tests/DatabaseTest.cs
  tests/Persistence.Tests/OsmRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Change ProcessingResult property types to IReadOnlyList
  src/GraphBuilding/LineProcessors/BaseOsmProcessor.cs
  src/GraphBuilding/LineProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/LineProcessors/IOsmElementProcessor.cs
  src/GraphBuilding/LineProcessors/UnwalledAreaProcessor.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Change GraphHolder property types to IList
  src/GraphBuilding/GraphHolder.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Change ExtractLevelInformation argument to IList
  src/GraphBuilding/LineProcessors/BaseOsmProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Change CreateReplicatedResult argument to IList
  src/GraphBuilding/LineProcessors/BaseOsmProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Update editorconfig, dockerignore
  .dockerignore
  .editorconfig
Due: csharpier, test

Add editorconfig comments
  .editorconfig
Due: csharpier, test

Add CA1002 back to editorconfig
  .editorconfig
Due: csharpier, test

Disable CA1002 in test code
  .editorconfig
Due: csharpier, test

Update prod compose file with import-init
  docker-compose.prod.yml
Due: none

Ignore nodes from nother levels when processing an area
  src/GraphBuilding/LineProcessors/UnwalledAreaProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix graphholder duplicating nodes
  src/GraphBuilding/GraphHolder.cs
  tests/GraphBuilding.Tests/GraphHolderTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add edges to nodes inside polygons
  src/GraphBuilding/ElementProcessors/BaseOsmProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/ProcessingResult.cs
  src/GraphBuilding/ElementProcessors/UnwalledAreaProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/GraphHolder.cs
  src/GraphBuilding/LineProcessors/IOsmElementProcessor.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix factor computation for astar heuristic
  src/Persistence/Repositories/PgRoutingRepository.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add elevator node support
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/GraphBuilding.Tests/Processors/EdgesTestHelper.cs
  tests/GraphBuilding.Tests/Processors/ElevatorNodeProcessorTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix route colour of the first segment after a level change
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Add Distance to RoutingEdge, add route length computation
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  src/GraphBuilding/ElementProcessors/UnwalledAreaProcessor.cs
  src/GraphBuilding/InMemoryEdge.cs
  src/Persistence/Entities/Processed/RoutingEdge.cs
  src/Persistence/Migrations/20230424143117_RoutingEdge.Distance.Designer.cs
  src/Persistence/Migrations/20230424143117_RoutingEdge.Distance.cs
  src/Persistence/Repositories/PgRoutingRepository.cs
  src/Persistence/Repositories/RoutingGraphRepository.cs
  src/Routing/Entities/Route.cs
  src/Routing/RoutingService.cs
  tests/API.Tests/Controllers/RoutingControllerTests.cs
  tests/GraphBuilding.Tests/GraphHolderTests.cs
  tests/GraphBuilding.Tests/Processors/HighwayWayProcessorTests.cs
  tests/Persistence.Tests/PgRoutingRepositoryTests.cs
  tests/Persistence.Tests/RoutingGraphRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Show route info (start, target, distance)
  frontend/src/routes/RoutingPickerControl.svelte
  frontend/src/routing-api-client/models/Route.ts
Due: build_front, build_push_front

Try to fix CommonJS import in sveltekit ssr
  frontend/src/routes/+page.svelte
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Fix false-y 0 level value in segment building
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Make TS more strict, fix errors
  frontend/.eslintignore
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/src/routes/+page.ts
  frontend/src/types/mapbox-gl-indoorequal.d.ts
  frontend/vite.config.ts
  frontend/yarn.lock
Due: build_front, build_push_front

Change level to start when adding route
  frontend/src/routes/RoutingPickerControl.svelte
  frontend/src/types/mapbox-gl-indoorequal.d.ts
Due: build_front, build_push_front

Add level change indicators to FE
  frontend/src/routes/RoutingPickerControl.svelte
Due: build_front, build_push_front

Exclude elevator distance from total distance
  src/GraphBuilding/ElementProcessors/ElevatorNodeProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Remove some unnecessary reassignments
  src/GraphBuilding/ElementProcessors/BaseOsmProcessor.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix level connections graph building
  src/GraphBuilding/ElementProcessors/HighwayWayProcessor.cs
  tests/GraphBuilding.Tests/GraphBuilderTests.cs
  tests/GraphBuilding.Tests/GraphHolderAssertions.cs
  tests/GraphBuilding.Tests/Processors/ProcessingResultAssertions.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Add a live demo link to README
  README.md
Due: none

Highlight active level
  frontend/src/app.html
  frontend/static/css/maplibre-overrides.css
Due: build_front, build_push_front

Add multipolygon support
  import/config.lua
  src/GraphBuilding/CachingOsmPortWrapper.cs
  src/GraphBuilding/ElementProcessors/UnwalledAreaProcessor.cs
  src/GraphBuilding/GraphBuilder.cs
  src/GraphBuilding/Ports/IOsmPort.cs
  src/Persistence/Entities/Raw/OsmMultiPolygon.cs
  src/Persistence/Entities/Raw/OsmPoint.cs
  src/Persistence/Entities/Raw/OsmPolygon.cs
  src/Persistence/Repositories/OsmRepository.cs
  src/Persistence/RoutingDbContext.cs
  tests/GraphBuilding.Tests/Processors/AreaPolygonProcessorTests.cs
  tests/Persistence.Tests/DatabaseTest.cs
  tests/Persistence.Tests/OsmRepositoryTests.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test

Fix osm2pgsql job trigger
  .gitlab-ci.yml
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, build_front, build_push_front, test

Add an id column to all osm2pgsql tables
  import/config.lua
Due: none

Extract IEnumerable.GetPairs to an extension method
  IndoorRouter.sln
  src/Core/EnumerableExtensions.cs
  src/GraphBuilding/ElementProcessors/UnwalledAreaProcessor.cs
  src/GraphBuilding/GraphBuilding.csproj
  tests/Core.Tests/Core.Tests.csproj
  tests/Core.Tests/EnumerableExtensionsTests.cs
  tests/Core.Tests/Usings.cs
Due: csharpier, build_api, build_push_api, build_updater, build_push_updater, test
